<html>
<head>
	<title>PiBot!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" />
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
</head>
<body><center>
	<img src="{{ url_for('stream') }}" />
	<div class="arrows">
		<div class="line">
			<div class="arrow" id="upleft"></div>
			<div class="arrow" id="up"></div>
			<div class="arrow" id="upright"></div>
		</div>
		<div class="line">
			<div class="arrow" id="left"></div>
			<div class="arrow empty"></div>
			<div class="arrow" id="right"></div>
		</div>
		<div class="line">
			<div class="arrow" id="downleft"></div>
			<div class="arrow" id="down"></div>
			<div class="arrow" id="downright"></div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		var dir = { x: 0, y: 0 };
		var socket = io.connect('/cmd')
		function move(x, y) {
			if(x == dir.x && y == dir.y)
				return;

			dir = { x: x, y: y };
			socket.emit('move', { data: dir });
		}
		function stop() {
			move(0, 0);
		}

		$('#upleft')   .mousedown(function() { move(-1,  1); });
		$('#up')       .mousedown(function() { move( 0,  1); });
		$('#upright')  .mousedown(function() { move( 1,  1); });
		$('#left')     .mousedown(function() { move(-1,  0); });
		$('#right')    .mousedown(function() { move( 1,  0); });
		$('#downleft' ).mousedown(function() { move(-1, -1); });
		$('#down')     .mousedown(function() { move( 0, -1); });
		$('#downright').mousedown(function() { move( 1, -1); });

		$('.arrow[id]').mouseup (stop);
		$('.arrow[id]').mouseout(stop);
	});
	</script>
</center></body>
</html>
